{% load static %}

<div class="profile_securities_cont">
    {% for item in sec_data %}
        <div class="perofile_sec_el mb-3 mb-lg-5 mt-2 w-100 mx-0">
            <div class="prof_sec_1">
                <div class="prof_sec_1_1">
                    {% if item.img != None %}
                        <img src="{% static 'logo_org/' %}{{ item.img }}" class="w-100">
                    {% endif %}
                </div>
                <div class="prof_sec_1_2 pl-3 w-100">
                    <div class="profile_sec_name h3 text-truncate">{{item.name}}</div>
                    <div class="col_bvio h4">{{item.short_name}}</div>
                </div>
            </div>
            <div class="prof_sec_2 profile_securities_ta pl-3 pl-lg-4 text-right w-100 pr-4 pr-lg-2">
                <div class="text-nowrap h3">{{item.price_count_buy}} ₽</div>
                <div class="col_bvio h4">{{item.count_buy}} шт</div>
            </div>
            <div class="prof_sec_3 profile_securities_ta text-left h3 pl-lg-4 text-lg-right">
                {% if item.status %}
                    <span>{{item.status}}</span>
                {% else %}
                    <span class="col_bvio">{{item.price_buy}}→ </span><span class="text-nowrap">{{item.price_now}} ₽</span>
                {% endif %}
            </div>
            <div class="prof_sec_4 profile_securities_ta pl-3 pl-lg-4 w-100 pr-4 pr-lg-2">
                <div class="{% if item.price_end < 0 %}col_red{% else %}col_lb{% endif %} text-nowrap h3">
                    {{item.price_end}} ₽
                </div>
                <div class="col_bvio h4">{{item.proc_end}}%</div>
            </div>
        </div>
    {% endfor %}
</div>